<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Victoria_3_Modding_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Victoria_3_Modding_Tool.Properties.Settings>
            <setting name="ProjName" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="ProjPath" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="Victoria3Path" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="ModPath" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Cascadia Mono, 12pt</value>
            </setting>
            <setting name="Caret" serializeAs="String">
                <value />
            </setting>
            <setting name="Selection" serializeAs="String">
                <value />
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value />
            </setting>
            <setting name="notfinished" serializeAs="String">
                <value />
            </setting>
            <setting name="Base" serializeAs="String">
                <value />
            </setting>
            <setting name="Number" serializeAs="String">
                <value />
            </setting>
            <setting name="equal" serializeAs="String">
                <value />
            </setting>
            <setting name="braces" serializeAs="String">
                <value />
            </setting>
            <setting name="not_closed" serializeAs="String">
                <value />
            </setting>
            <setting name="highlight_fore" serializeAs="String">
                <value />
            </setting>
            <setting name="highlight_backcolor" serializeAs="String">
                <value />
            </setting>
            <setting name="affirmative" serializeAs="String">
                <value />
            </setting>
            <setting name="logic" serializeAs="String">
                <value />
            </setting>
            <setting name="setdelete" serializeAs="String">
                <value />
            </setting>
            <setting name="commands" serializeAs="String">
                <value />
            </setting>
            <setting name="keywords" serializeAs="String">
                <value />
            </setting>
            <setting name="flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="text" serializeAs="String">
                <value />
            </setting>
            <setting name="comment" serializeAs="String">
                <value />
            </setting>
        </Victoria_3_Modding_Tool.Properties.Settings>
    </userSettings>
</configuration>